* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #D4D3FF, #FFEAEF);
}

header {
  background: #FEF4EE;
  border-radius: 20px;
  padding: 3rem;
  position: fixed;
  margin: 20px;
  top: 0;
  width: 87%;
}

.icon-center {
  text-align: center;
}

i {
  font-size: 70px;
  color: #0B303B;
}

.logo {
  color: #0B303B;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 20%;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #FEF4EE;
}

main {
  margin: 20px;
  margin-top: 170px;
}

footer {
  color: #FEF4EE;
  background: #0B303B;
  padding: 3rem;
}

.comp {
  display: flex;
  align-items: center;
}

.download {
  font-size: 12px;
}

.term {
  margin-left: 20px;
  font-size: 12px;
}

.copyright {
  margin-top: 40px;
  font-size: 11px;
  text-align: center;
}